<ul>
<li>Collection status: {{collection_status}}
<li> Merchant order ID: {{merchant_order_id}} </li>
<li>Payment method ID: {{payment_type}}</li>
<li>External reference: {{external_reference}}</li>
<li>Payment ID: {{payment_id}}</li>
<li>Collection ID: {{collection_id}}</li>
<li>Preference ID: {{preference_id}}</li>
</ul>
